@font-face {
    font-family: yekan;
    src: url(fonts/Yekan.ttf);
    font-weight: regular;
}


.danger {
    background-color: #CA0B00;
}

.danger-animation {
    animation: danger-pulse 2s infinite;
}

.custom-modal {
    position: relative;
    width: 350px;
    min-height: 250px;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 40px 10px;
}

.custom-modal .content {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.custom-modal .content .type {
    font-size: 30px;
    font-weight: bolder;
    color: #ff0000;
}

.custom-modal .content .message-type {
    font-size: 24px;
    color: #000000;

}

.custom-modal .border-bottom {
    position: absolute;
    width: 300px;
    height: 20px;
    border-radius: 0 0 30px 30px;
    bottom: -20px;
    margin: 0 25px;
}

.custom-modal .icon-top {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -30px;
    margin: 0 125px;
    font-size: 30px;
    color: #fff;
    line-height: 100px;
    text-align: center;
}



@keyframes danger-pulse {
    0% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }

    50% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .4);
    }

    100% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }
}


.page-wrapper {
    height: 90vh;
    background-color: #0e2a47;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

body {
    margin: 0;
    font-family: yekan;
    background-color: #0e2a47;
}

@media only screen and (max-width: 800px) {
    .page-wrapper {
        flex-direction: column;
    }
}